body {
    font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif;
    width: 100%;
    height: 100%;
}

a {
    font-family: 'Poppins', sans-serif;
    color: snow;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
}

a:hover, a:focus {
    color: blanchedalmond;
    text-decoration: none;
}

.base-nav {
    font-size: 17px;
    background-color: rgba(42, 40, 40, 0.6);
}

nav img {
    width: 100px;
    transition: 0.25s;
}

nav img:hover {
    width: 110px;
    transition: 0.25s;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url("../../images/header.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

hr {
    height: 1px;
    width: 75%;
    background-color: #000000;
    border: none;
}

@media(min-width: 768px){

    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner h1 {
        font-size: 100px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    .select-content {
        height: 500px;
        width: 100%;
        background-color: snow;
    }

    #crypter.select-content {
        background-image: radial-gradient(rgba(25, 25, 25, 0.81), rgba(25, 25, 25, 0.71));
    }

    #decrypter.select-content {
        background-image: radial-gradient(rgba(25, 25, 25, 0.795), rgba(25, 25, 25, 0.695));
    }

    .select-menu {
        width: 100%;
        height: 82.5%;
        border-radius: 100px;
        background: rgba(25, 25, 25, 0.51);
        margin-top: 50px;
    }

    .select-menu h1 {
        font-size: 400%;
        text-align: center;
        color: snow;
    }

    .select-menu textarea {
        background: none;
        color: snow;
        font-size: 125%;
        border: solid snow 1px;
        border-radius: 25px;
        transition: 0.25s;
        font-family: 'Lato', sans-serif;
        margin-left: 40px;
        resize: none;
        outline: none
    }

    .select-menu button[type = submit] {
        background: none;
        width: 25%;
        margin-left: 47.5%;
        text-align: center;
        border: 2px solid white;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        position: relative;
    }

    .select-menu button[type = submit]:hover {
        color: black;
        background: white;
        border: 2px solid white;
    }

    .select-content select {
        background: none;
        color: snow;
        width: 10%;
        height: 7.5%;
        text-align: center;
        border-radius: 25px;
        margin-left: 20%;
        margin-top: 2.5%;
    }

    .select-content option {
        color: black;
    }

    .page-footer {
        text-align: center;
        color: snow;
    }

    .contact-content {
        background-image: radial-gradient(rgba(25, 25, 25, 0.725), rgba(25, 25, 25, 0.69));
        height: 20%;
    }

    .contact-content h2 {
        margin-top: 4%;
    }

    .copyright {
        background-image: radial-gradient(rgba(25, 25, 25, 0.715), rgba(25, 25, 25, 0.68));
        height: 13%;
    }

    .copyright p {
        margin-top: 3%;
    }
}

.pre {
    white-space: pre;
}
